
body {
	padding:0px;
}

.nx-nav {
	background:#344656;
}

	.nx-nav-logo {
		height:12px;
		float:top;
		margin:-12px;
	}
	.nx-nav-search{
		/* background:#ccc; */
		float:right;
		background:url("foto/search.png") no-repeat;
		}
		.nx-nav-search input{
			width:90px;
			height:22px;
			float:left;
			opacity:0.3;		
		}		
		.nx-nav-search span{
			display:inline-block;
			vertical-align:middle;
			float:left;
		}
		
	.navbar-nav li {
		font-size:1.6em;
	}	
		.nx-nav-sub {
			position:absolute;
			height:180px;
			width:650px;		
			background:#fea;
			display:none;
			z-index:10;
		}
	.nx-nav-widget {
		background:#caf;
		position:absolute;
		float:top;
	}
	.navbar-nav li:hover .nx-nav-sub {
		display:block;
	}
	.navbar-default .navbar-nav > li> a:link {
		color:#ccc;
	}
	.navbar-default .navbar-nav > li> a:visited {
		color:#ccc;
	}
	.navbar-default .navbar-nav > li> a:hover {
		color:white;
	}	
	.navbar-default .navbar-nav > li> a:active {
		color:#fe5228;
	}
	

#nx-carousel {
	/* background:#cf4; */
}

.nx-worktable {
	/* background:#ab6; */
}
	.nx-wt-item:first-child {
		/* background:#ab2; */
	}
	.service-icon {
		width:32px;
	}
		.glyphicon {
			width:32px;
		}

.nx-about {
	/* background:#ff7; */
	/* height:360px; */
}	
	.nx-about-tabs {
		background:#ab2;
		height:360px;
	}
		.nx-about-tab {
			background:#ab2;
			height:33%;
			text-align:center;
			vertical-align:center;
		}
		.nx-about-tab:hover {
			background:#fe5228;
		}
		
	.nx-about-detail {
		height:360px;
		display:none;
		background:#eee;
	}	
	.nx-about>.row>.active {
		display:block;
	}	
	


		
footer {
	float:bottom;
}
	footer p {
		text-align:center;
	}

@media {

}	